body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 a {
    color: white;
    text-decoration: none;
}

nav {
    margin-top: 10px;
}

nav span {
    margin: 0 15px;
    cursor: pointer;
    color: white;
}

main {
    padding: 20px;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}

.AboutMe {
    margin-bottom: 40px;
    text-align: center;
}

.RevoU {
    margin-bottom: 40px;
    text-align: center;
}

p {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    }