body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header nav {
    margin-top: 30px;
}

h1 a {
    color: white;
    text-decoration: none;
}

nav {
    margin-top: 10px;
}

nav span {
    margin: 0 15px;
    cursor: pointer;
    color: white;
}

main {
    padding: 20px;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}

.AboutMe {
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.AboutMe:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.AboutMe p {
    text-align: left;
}

.AboutMe img {
    width: 150px;
    height: auto;
    margin-top: 40px;
}

.RevoU {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.RevoU:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.RevoU img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.RevoU p {
    font-size: large;
}

.RevoU table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    transition: all;
    transition-duration: 0.4s;
}

.RevoU table:hover {
    transform: scale(1.2);
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    }

.MyProgram {
    margin-bottom: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 70px;
    padding: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.MyProgram:hover {
    box-shadow: 10px 10px 10px grey;
    transform: scale(1.02);
}

.MyProgram p {
    text-align: center;
}

.MyProgram ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    transition: all;
    transition-duration: 0.3s;
}

.MyProgram ul:hover {
    transform: scale(1.1);  
}

.Suggestion-Input {
    margin-bottom: 40px;
    text-align: center;
}

.Suggestion-Input fieldset {
    margin-bottom: 20px;
}

.footer-style {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}